---
import Layout from '../../layouts/Layout.astro';
import {PROJECTS} from '../../data/projectData';
import titleCase from '../../utils/titleCase';
import Button from '../../components/Button.astro';


export function getStaticPaths() {
  return [
    { params: { id: 'behav' } },
    { params: { id: 'life-kitz' } },
    { params: { id: 'stack-gen' } },
    { params: { id: 'mtg-life-counter' } },
    { params: { id: 'the-gathering-bulletin' } },
    { params: { id: 'poke-dex' } },
    { params: { id: 'sunny-side-agency' } },
    { params: { id: 'snap' } },
    { params: { id: 'splitter' } },
    { params: { id: 'suite' } },
  ]
}

const {id} = Astro.params;
const title: string | undefined = id?.replace(/-/g, ' ');



const breadcrumbsStyle = "font-sans text-primaryText cursor-pointer hover:text-paleLilac hover:border-b-paleLilac text-sm"
const activePath = " border-b-[1px] border-b-paleLilac border-opacity-50 pb-[2px]"
const project = PROJECTS.find(project => project.path === id);
console.log(project)

---

<Layout title={titleCase(id)} path="projects/project">
  <div class="m-3 text-sm">
    <a href="/"><span class={breadcrumbsStyle}>Home</span> <span class="text-buttonBg">&gt;</span> </a> <a href="/projects"><span class={breadcrumbsStyle}>Projects</span> <span class="text-buttonBg">&gt;</span> </a> <span class={breadcrumbsStyle + activePath}>{titleCase(id)}</span>
  </div>
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8 text-paleLilac flex flex-col gap-20 my-10">
    <h1 class="text-6xl text-center lg:text-7xl text-buttonBg">
      {project?.projectName}
    </h1>
    <section class="flex flex-col gap-20 text-center">
      {project?.demoLink ? (
        // embed demo video
        <div class="video-responsive h-[250px] md:h-[350px] lg:h-[550px] w-full lg:w-9/12 mx-auto">
          <iframe
            class="h-full w-full rounded-lg rounded-b-none"
            src={project.demoLink}
            title="YouTube video player"
            frame-border="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allow-full-screen
          ></iframe>
        </div>
      ) : (
        <img
          class="h-full w-full rounded-lg rounded-b-none"
          src={project?.projectBgImg?.toString()}
          alt={project?.projectName}
        />
      )}
      <section class="flex flex-col gap-10 max-w-2xl mx-auto">
        <div class="space-y-4">
          <h2 class='text-5xl'>About</h2>
          <p>{project?.projectText}</p>
        </div>
        <div class="space-y-4">
          <h2 class='text-5xl'>Tools Used</h2>
          <ul>
            {project?.projectTech.map(tech => (
              <li>{tech}</li>
            ))}
          </ul>
        </div>
        <div class="space-x-6">
          {project?.projectLink && <Button link={`${project?.projectLink}`} linkText='Visit Site' />}
          <Button link={`${project?.githubLink}`} linkText='View Code' />
        </div>
      </section>
    </section>
  </main>
</Layout>
