---
import Layout from "../../layouts/Layout.astro";
import {PROJECTS} from "../../data/projectData";
import Button from '../../components/Button.astro';

---

<Layout title="Projects">
  <main
    class="h-full w-full p-4 bg-gradient-to-r from-black to-darkPurple"
  >
    {PROJECTS.map((project) => (
      <div class="w-full flex flex-wrap bg-transparent rounded text-center shadow-lg hover:cursor-pointer active:shadow-lg lg:mb-0 max-w-2xl mx-auto p-3">
        <div class="flex h-full w-full flex-col gap-10 border-[1px] border-primaryPink border-opacity-50 p-3 rounded-xl">
          {project.demoLink ? (
            // embed demo video
            <div class="video-responsive h-[400px] w-full">
              <iframe
                class="h-full w-full rounded-lg rounded-b-none"
                src={project.demoLink}
                title="YouTube video player"
                frame-border="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allow-full-screen
              ></iframe>
            </div>
          ) : (
            <img
              class="h-full w-full rounded-lg rounded-b-none"
              src={project.projectBgImg?.toString()}
              alt={project.projectName}
            />
          )}
          <div class="w-full space-y-2 py-8 px-4 flex flex-col gap-10">
            <p class="mb-4 text-4xl font-dancing tracking-wider text-primaryPink focus:text-blue-900 active:text-blue-900 md:text-6xl">
              {project.projectName}
            </p>
            <p class="px-1">{project.projectText}</p>
            <div class="flex gap-3 justify-center">
              <Button link={`projects/${project.path}`} linkText="Project Info"/>
              <Button link={`${project.githubLink}`} linkText='Github' />
            </div>
          </div>
        </div>
      </div>
    ))}
  </main>
</Layout>


