---
import Layout from "../../layouts/Layout.astro";
import {PROJECTS} from "../../data/projectData";
import Button from '../../components/Button.astro';



const breadcrumbStyle = 'cursor-pointer hover:text-paleLilac hover:border-b-2 hover:border-b-paleLilac'
---

<Layout title="Projects">
  <div class="text-primaryText m-3 text-sm">
    <a href="/"><span class={breadcrumbStyle}>Home</span> <span class="text-primaryText">&gt;</span> </a> <span class={breadcrumbStyle}>Projects</span>
  </div>
  <main
    class="h-full w-full p-4 bg-gradient-to-r from-black to-primaryBg grid grid-cols-1 lg:grid-cols-2 gap-10"
  >
    {PROJECTS.map((project) => (
      <div class="w-full flex flex-wrap bg-transparent rounded text-center lg:mb-0 mx-auto">
        <div class="flex h-full w-full flex-col gap-10 border-[1px] border-paleLilac bg-black p-2 rounded-xl shadow-xl">
          {project.demoLink ? (
            // embed demo video
            <div class="video-responsive h-[400px] w-full">
              <iframe
                class="h-full w-full rounded-xl shadow-xl"
                src={project.demoLink}
                title="YouTube video player"
                frame-border="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allow-full-screen
              ></iframe>
            </div>
          ) : (
            <img
              class="h-[400px] w-full rounded-xl object-cover shadow-xl"
              src={project.projectBgImg?.toString()}
              alt={project.projectName}
            />
          )}
          <div class="w-full p-8 flex flex-col gap-10 text-paleLilac">
            <h2 class="mb-4 text-4xl tracking-wider md:text-6xl">
              {project.projectName}
            </h2>
            <p class="lg:h-[75px]">{project.projectText}</p>
            <div class="flex gap-3 justify-center">
              <Button link={`projects/${project.path}`} linkText="Project Info"/>
              <Button link={`${project.githubLink}`} linkText='Github' />
            </div>
          </div>
        </div>
      </div>
    ))}
  </main>
</Layout>


