---
import Header from '../components/Header.astro';

export interface Props {
  title: string;
}

// function to return title case
function titleCase(str: string) {
  return str
    .toLowerCase()
    .split(' ')
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ');
}


// I need to get the path from the router and use that for breadcrumbs
const path = Astro.url.pathname;

let breadcrumbs = "";
if (path === '/') {
  breadcrumbs
} else {
  breadcrumbs = path.replaceAll('/', '');
}


const breadcrumbsStyle = "cursor-pointer hover:text-paleLilac hover:border-b-[1px] hover:border-b-paleLilac"
const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-r from-black to-darkPurple">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../../src/styles/global.css" />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-r from-black to-darkPurple">
    <Header />
    <div class="text-primaryPink m-3 text-sm">
      {path === '/' ? <a href="/">Home</a> : <a href="/"><span class={breadcrumbsStyle}>Home</span> &gt; </a> <span class={breadcrumbsStyle}>{titleCase(breadcrumbs)}</span>}
    </div>
    <slot />
  </body>
</html>

